:root { 
--gray_600:#6d6d6d; 
--gray_400:#b8b8b8; 
--gray_500:#9c9c9c; 
--blue_gray_50:#ebf2f7; 
--red_600:#e23d3d; 
--gray_900:#202020; 
--gray_900_01:#272727; 
--blue_gray_900_14:#18274b14; 
--teal_A100:#a2ffd2; 
--teal_300:#5bc7a0; 
--black_900_66:#00000066; 
--gray_400_01:#bcbcbc; 
--black_900:#000000; 
--gray_400_02:#c4c4c4; 
--blue_gray_900_1e:#18274b1e; 
--gray_400_03:#c1c1c1; 
--blue_gray_900_23:#18274b23; 
--deep_orange_200:#ffafaf; 
--white_A700:#ffffff; 
}